input[type="checkbox"] {
	position: absolute;
	cursor: pointer;
	opacity: 0;
}

input[type="checkbox"] + label {
	background-color: #FD9;
	margin-bottom: 0.25em;
	padding-left: 1.5em;
	font-size: 1.5em;
	cursor: pointer;
  display: block;
}

input[type="checkbox"] + label + section {
	transition: .25s all;
	padding-left: 1.25em;
	font-size: 1.25em;
	overflow: hidden;
  height: 0;
}

input[type="checkbox"]:focus + label {
	background-color: #EB1;
  color: #FED;
}

input[type="checkbox"]:checked:not(:focus) + label {
	background-color: #FDC;
  color: black;
}

input[type="checkbox"]:checked + label + section {
	height: 4em;
}

#api {
  background-color:#FED;
  position:absolute;
  height:100%;
  width:100%;
  left:0px;
  top:0px;
}