input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"] + label {
  transition: max-height 0.25s;
  background-color: #000;
	overflow: hidden;
	cursor: pointer;
  display: block;
  font-size: 1em;
  color: #FFF;
}

input[type="checkbox"] + label span {
  padding-left: 0.75em;
  font-size: smaller;
	color: #CCC;
}

input[type="checkbox"] + label a {
	color: #FF0;
}

input[type="checkbox"] + label svg {
  transition: .125s all;
}

input[type="checkbox"] + label path {
  stroke:#FFF
}

input[type="checkbox"] + label + section {
	padding-left: 1.5em;
}

input[type="checkbox"]:focus + label path {
  stroke:#FF0
}

input[type="checkbox"]:checked + label > svg {
  transform: rotate(-90deg);
}

input[type="checkbox"]:focus + label + section {
  display:block !important;
}

input[type="checkbox"]:checked + label + section > label {
  max-height:100px;
}

input[type="checkbox"]:not(:checked) + label + section label{
	max-height:0px;
}
input[type="checkbox"]:not(:checked) + label + section {
  display:none;
}

.api {
  font-family: sans-serif;
  background-color:#000;
  position:absolute;
  height:100%;
  width:100%;
  left:0px;
  top:0px;
}