#viaWebGL {
  background-color:black;
  position:absolute;
  height:100%;
  width:100%;
  left:0px;
  top:0px;
}

#proto {
  display:none;
}

#findings {
    background-color: rgba(0, 0, 0, 0.8) !important;
    padding: .5em .5em 0em 1em !important;
    font-size: xx-large;
    color: white;
    height: 3em;
    width: 8em;
}